addDefaultCharset utf-8

RewriteEngine On
# if not a directory
RewriteCond %{REQUEST_FILENAME} !-d
# if not a file
RewriteCond %{REQUEST_FILENAME} !-f
# redirect all to index.php (one entry point)
RewriteRule ^(.*)$ index.php



#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
